.maindiv{
    border: 2px solid black;
   width: -webkit-fill-available;
    align-items: center;
    background-color: lightgrey;

}
button{
    position: relative;
    overflow: hidden;
    margin-left: 10px;
}
button input[type="file"]{

    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transform: scale(3);
    /* display: none; */
}
select{
    height: 30px;
}